<%= form_for(@writing) do |f| %>
  <% if @writing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@writing.errors.count, "error") %> prohibited this writing from being saved:</h2>

      <ul>
      <% @writing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_id %><br />
    <%= f.select :author_id, Author.all.collect {|author| [author.last_first_name, author.id]} %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br />
    <%= f.select :book_id, Book.all.collect{|book| [book.title, book.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
