<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <h3>Jimmy Kurian</h3>
  	

  <%= stylesheet_link_tag    "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<td> <%= link_to 'Author Page', authors_path %> &nbsp
     <%= link_to 'Book Page', books_path %> &nbsp
     <%= link_to 'Writing Page', writings_path %>
<%= yield %>

</body>
</html>
